nav {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  border-radius: 50%;
  width: 45px;
  height: auto;
}
nav > * {
  margin: 5px;
}

.nav-content {
  display: flex;
  flex-direction: row;
}

.nav-content h4 {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 2px;
  font-size: clamp(14px, 2vw, 18px);
}

h1 {
  color: white;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: clamp(20px, 3vw, 30px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sign-out {
  border: 1.5px solid white;
  background-color: black;
  color: white;
  padding: 0 2px;
  border-radius: 40px;
  width: 100px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
  font-size: clamp(10px, 2vw, 14px);
}

.sign-out:hover {
  background-color: white;
  border: none;
  color: black;
}

@media screen and (max-width: 700px) {
  .nav-content h4 {
    display: none;
  }
  .sign-out {
    width: 80px;
  }

  .nav-content img {
    width: 35px;
  }
}
