.message-cont {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.received {
  display: flex;
  justify-content: flex-start;
}

.sent p {
  align-self: flex-start;
}
p {
  color: white;
}
.username {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  white-space: nowrap;
}
.sent .username {
  color: rgb(106, 104, 255);

  text-align: end;
}
.received .username {
  color: rgb(150, 112, 255);
}
.timestamp {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.527);
}
@media screen and (max-width: 700px) {
  .timestamp {
    font-size: 10px;
  }
  .profile {
    width: 40px;
    height: 40px;
  }
}
